<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<br>

<form th:method = "POST" th:action = "@{/admin/}" th:object= "${user}">
    <label for = "NickName"> Name:</label>
    <input type = "text" th:field = "*{name}" id = "NickName"/>
    <br>
    <br>
    <label for = "lastName"> Lastname:</label>
    <input type = "text" th:field = "*{lastName}" id = "lastName"/>
    <br>
    <br>
    <label for = "age"> Age:</label>
    <input type = "text" th:field = "*{age}" id = "age"/>
    <br>
    <br>
    <label for = "password"> Password:</label>
    <input type = "text" th:field = "*{password}" id = "password"/>
    <br>
    <br>
    <label>Role:
        <select size="2" multiple name="roles" >
            <option value="1">USER</option>
            <option selected="selected" value="2">ADMIN</option>
        </select>
    </label>
    <br>
    <br>
    <input type = "submit" value = "Save"/>
</form>
<br>
<input type = "button" value = "Logout"
       onclick = "window.location.href = '/logout'"/>

</body>
</html>
