<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<div>
    <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

        <label for="username">Name</label>
        <input type="text" th:field="*{username}" id="username"/>
        <br>
        <label for="lastName">LastName</label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br>
        <label for="age">Age</label>
        <input type="text" th:field="*{age}" id="age"/>
        <br>
        <br> <label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password"/>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <br>

        <label for="role-select"></label><select id="role-select" required class="form-control" th:field="*{roles}" multiple="multiple" >
        <option th:each="role : ${role}"
                th:field="*{roles}"
                th:value="${role.id}"
                th:text="${role.nameOfRole}"> Role
        </option>
    </select>
        <br><br>
        <input type="submit" value="Update User">
    </form>

    <form action="/logout">
        <input type="submit" value="logout">
    </form>
</div>
</body>
</html>
